
#navbar {
    background-color: rgba(255, 255, 255, 0.95); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  #navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.95); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  }
  
  .hover-card:hover {
    transform: scale(1.05) translateY(-1.75rem);
    z-index: 30;
    transition: all 0.3s;
  }
  
  